body{
  background-color: #F4F6F7;
  font-style: arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav, main {
  background-color: white;
  width: 70%;
  min-width: 70%;
  margin: 0 auto;
  padding: 45px;
  box-sizing: border-box;
}

/* HEADER */
header {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 30px;
}

header img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

 header h1 {
  display: inline-block;
  font-size: 40px;
  /* chiedi font */
}

/* NAV */
nav {
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.bot {
  margin: 2px;
  border: 0;
  border-radius: 10%;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 10px;
}

.bot.task {
  background-color: #3B9BED;
  color: white;
}

.bot.section {
  background-color: white;
  border: 1px solid lightgrey;
  color: lightgrey;
}

/* MAIN */
h2 {
  display: inline-block;
  color: #2E3037;
  margin-bottom: 10px;
}

.arrow {
  margin-bottom: 20px;
}

.arrow::before {
  content: '\25BC';
}

.check {
  margin-bottom: 20px;
  color: #3BB193;
}

.check::before {
  content: '\02713';
  border: 1px solid #3BB193;
  border-radius: 100%;
}

.no.check {
  color: red;
}

.no.check::before {
  content: '\10102';
  border: 1px solid red;
  border-radius: 100%;
}

.row {
  color: #2E3037;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.colored {
  display: inline-block;
  width: auto;
  padding: 5px 20px;
  box-sizing: border-box;
  border: 0px solid lightgray;
  border-radius: 10%;
  color: white;
}

.blu {
  background-color: #3B9BED;
}

.purple {
  background-color: #8A58DD;
}

.salvia {
  background-color: #55B598;
}

.orange {
  background-color: #EB8C28;
}

.pink {
  background-color: #CC4A90;
}

.lightgreen {
  background-color: #A2C21D;
}


